%script#edit-password(type="text/ng-template")
  %h1 Change Password
  %div(ng-show="!formSubmitted")
    %ul.errors(ng-show="errors.length > 0")
      %li.error(ng-repeat="error in errors") {{error}}
    %form.edit-password
      %input(name="password" ng-model="password" placeholder="New password" type="password")/
      %br/
      %input(name="password-confirmation" ng-model="passwordConfirmation" placeholder="Confirm new password" type="password")/
      %br/
      %button.submit(ng-click="editPassword()") Submit

  %div(ng-show="formSubmitted")
    %p.reset Thanks, your password has been reset. You may now login to your account.
    %br/
    %a(ui-sref="login") Login
