%script#forgot-password(type="text/ng-template")
  .forgot-password.floating-form
    .public-title Habit
    .public-tagline Forgot your password?
    %form
      .form-group(ng-class="error.length > 0 ? 'has-error' : ''")
        %input.form-control(name="email" ng-model="email" placeholder="Email" type="text")/
      / %div(ng-show="!sentPasswordReset")
      %alert(close="closeFlash()" ng-show="error.length > 0" type="danger")
        %span.error {{error}}
      %p.sent.sent-success(ng-if="sentPasswordReset")
        An email was sent to
        %b {{email}}
        with instructions to reset your password.
      %button.btn.btn-primary.pull-right.reset(ng-click="resetPassword()") Reset Password

    %a.secondary-action(ui-sref="login") Login
    %a.secondary-action(ui-sref="signup") Sign Up
