%script#forgot-password(type="text/ng-template")
  %h1 Forgot Password
  %form.forgot-password
    %div(ng-show="!sentPasswordReset")
      %p.error(ng-show="error.length > 0") {{error}}
      %input(name="email" ng-model="email" placeholder="Enter email" type="text")/
      %br/
      %button.reset(ng-click="resetPassword()") Reset Password
    %p.sent(ng-if="sentPasswordReset")
      An email was sent to
      %b {{email}}
      with instructions to reset your password.
    %a(ui-sref="login") Login
    %br/
    %a(ui-sref="signup") Sign Up
