%script#habits(type="text/ng-template")
  .nav-bar
    %a.settings.fa.fa-cog(ui-sref="settings")
    %h4 Habits
    %a.new-habit.fa.fa-plus(ui-sref="app.habits.new")
    .clear
  %ul#habits-list
    %li.habit-listing(ng-class="habit.private ? 'private' : 'public'" ng-repeat="habit in habits")
      %a.title(ui-sref="app.habits.show({habitId: habit.id})")
        %span.percentage<
          {{habit.target.completion | percentage:0}}
          %small> %
        %span.habit-title {{habit.title}}

      .button-container
        %button.btn.btn-success.btn-link.plus.fa.fa-plus(ng-click="checkin(habit.id, habit.last_checkin_value)") {{habit.last_checkin_value}}
