%div(ui-view="")
  Loading...

%script#habits(type="text/ng-template")
  .nav-bar
    %a.fa.fa-cog.settings(ui-sref="settings")
    %h4 Habits
    %a.new-habit.fa.fa-plus(ui-sref="app.habits.new")
    .clear
  %ul#habits-list
    %li.habit-listing(ng-class="habit.private ? 'private' : 'public'" ng-repeat="habit in habits")
      .title
        %a(ui-sref="app.habits.show({habitId: habit.id})")
          %span.value {{habit.value}}
          %span.habit-title {{habit.title}}
      .button-container
        %button.btn.btn-success.btn-link.plus.fa.fa-plus(ng-click="checkin(habit.id, 1)")

%script#typeahead(type="text/ng-template")
  %span.dropdown-item {{match.model.title}} ({{match.model.user_count}})

%script(type='text/ng-template' id="habits/_form")
  .habit-form
    %alert(close="closeFlash()" ng-show="errors.length > 0" type="danger")
      %ul
        %li.error(ng-repeat="error in errors") {{error}}
    %form
      .section
        .form-group(ng-class="titleErrors ? 'has-error' : ''")
          %input.form-control(name="title" ng-if="isEditable" ng-model="habit.title" placeholder="habit title" type="text" typeahead="suggestion as suggestion.title for suggestion in suggestions($viewValue)" typeahead-on-select="onSelect($item, $model, $label)" typeahead-template-url="typeahead")/
          %span.locked-title(ng-if="!isEditable") {{habit.title}}
    .section
      .form-group(ng-class="valueErrors ? 'has-error' : ''")
        %label Target
        %input.form-control(name="target-value" ng-model="target.value" placeholder="value")/
      .form-group(ng-class="unitErrors ? 'has-error' : ''")
        %input#unit.form-control(name="unit" ng-if="isEditable" ng-model="habit.unit" placeholder="unit")/
        %span.locked-unit(ng-if="!isEditable") {{habit.unit}}
      .form-group
        %select(name="target-timeframe" ng-model="target.timeframe" ng-options="timeframe for timeframe in timeFrameOptions")
    .section
      .form-group
        %label Private
        %input#private(ng-model="habit.private" type="checkbox")/
    .section
      %button.save.btn.btn-primary(ng-click="save()") Save
      %button.cancel.btn.btn-link(ng-click="cancel()" ng-if="!isEditable") Cancel

%script(type='text/ng-template' id="habits/new")
  .nav-bar
    %a.habits-link.fa.fa-bars(ng-if="hasHabits" ui-sref="app.habits" ui-sref-opts="{reload: true}")
    %a.fa.fa-cog.settings(ng-if="!hasHabits" ui-sref="settings")
    %h4 New Habit
  %div(static-include="habits/_form")

%script(type='text/ng-template' id="habits/edit")
  .nav-bar
    %a.habits-link.fa.fa-bars(ui-sref="app.habits" ui-sref-opts="{reload: true}")
    %h4 Edit Habit
  .habits-edit
    %div(static-include="habits/_form")
    .padded-container
      %button.abandon.btn.btn-danger(ng-click="deleteHabit(habit)" ng-if="habit.user_count > 1") Abandon {{habit.title}}
      %button.delete.btn.btn-danger(ng-click="deleteHabit(habit)" ng-if="habit.user_count == 1") Delete {{habit.title}}

%script#habit(type="text/ng-template")
  .habit-details
    .nav-bar
      %a.habits-link.fa.fa-bars(ui-sref="app.habits" ui-sref-opts="{reload: true}")
      .title-lockup
        %h4.title {{habit.title}}
        %br/
        %h4.sub-title {{habit.user_count - 1}} other users
      %a.edit.fa.fa-pencil(ui-sref="app.habits.edit({habitId: habit.id})")
    %alert(close="closeFlash()" ng-show="error.length > 0" type="danger") {{error}}
    .section.text-center
      %h1.habit-percentage.text-primary
        {{habit.percentage}}
        %small.text-primary %
      %p
        You
        %span(ng-if="habit.past_tense") {{habit.past_tense}}
        %span(ng-if="!habit.past_tense") have completed
        %span.value {{habit.value}} {{habit.unit}}
        {{habit.target.formattedTimeFrame}}
      %p
        Your target is
        %span.target {{habit.target.value}} {{habit.unit}} per {{habit.target.timeframe}}
    .section
      %form
        .form-group(ng-class="error.length > 0 ? 'has-error' : ''")
          %label Value
          %input#new-checkin-value.form-control(ng-model="newCheckin.value")/
        .form-group
          %label Note
          %input#note.form-control(ng-model="newCheckin.note")/
        %button.btn.btn-success.form-control.section.plus(ng-click="checkin('plus')") Log
    .section(ng-if="habit.checkins.length")
      %h3 Activity
      %ul.list-group
        %li.list-group-item.checkin(ng-repeat="checkin in habit.checkins")
          %span(ng-if="!habit.private") {{checkin.display_name}}
          %span.badge {{checkin.value}}
          {{checkin.note}}

%script#signup(type="text/ng-template")
  .padded-container
    .signup-form
      %alert(close="closeFlash()" ng-show="errors.length > 0" type="danger")
        %ul
          %li.error(ng-repeat="error in errors") {{error}}
      %h1 Sign Up
      %form(ng-submit="signup()")
        .form-group(ng-class="displayNameError ? 'has-error' : ''")
          %input#display-name.form-control(ng-model="user.displayName" placeholder="Enter Display Name")/
        .form-group(ng-class="emailError ? 'has-error' : ''")
          %input#identification.form-control(ng-model="user.email" placeholder="Enter Email")/
        .form-group(ng-class="passwordError ? 'has-error' : ''")
          %input#password.form-control(ng-model="user.password" placeholder="Enter Password" type="password")/
        %button.btn.btn-primary(type="submit") Sign Up
        %a(ui-sref="login") Login

%script#login(type="text/ng-template")
  .padded-container
    .login-form
      %alert(close="closeFlash()" ng-show="error.length > 0" type="danger") {{error}}
      %h1 Login
      %form(ng-submit="login()")
        .form-group(ng-class="error.length > 0 ? 'has-error' : ''")
          %input#identification.form-control(ng-model="user.email" placeholder="Enter Email")/
        .form-group(ng-class="error.length > 0 ? 'has-error' : ''")
          %input#password.form-control(ng-model="user.password" placeholder="Enter Password" type="password")/
        %button.btn.btn-primary(type="submit") Login
        %a(ui-sref="signup") Sign Up
        %a.forgot-password(ui-sref="forgot-password") Forgot Password
%script#forgot-password(type="text/ng-template")
  %h1 Forgot Password
  %form.forgot-password
    %div(ng-show="!sentPasswordReset")
      %p.error(ng-show="error.length > 0") {{error}}
      %input(name="email" ng-model="email" placeholder="Enter email" type="text")/
      %br/
      %button.reset(ng-click="resetPassword()") Reset Password
    %p.sent(ng-if="sentPasswordReset")
      An email was sent to
      %b {{email}}
      with instructions to reset your password.
    %a(ui-sref="login") Login
    %br/
    %a(ui-sref="signup") Sign Up

%script#edit-password(type="text/ng-template")
  %h1 Change Password
  %div(ng-show="!formSubmitted")
    %ul.errors(ng-show="errors.length > 0")
      %li.error(ng-repeat="error in errors") {{error}}
    %form.edit-password
      %input(name="password" ng-model="password" placeholder="New password" type="password")/
      %br/
      %input(name="password-confirmation" ng-model="passwordConfirmation" placeholder="Confirm new password" type="password")/
      %br/
      %button.submit(ng-click="editPassword()") Submit

  %div(ng-show="formSubmitted")
    %p.reset Thanks, your password has been reset. You may now login to your account.
    %br/
    %a(ui-sref="login") Login

%script#account-settings(type="text/ng-template")
  .nav-bar
    %a.habits-link.fa.fa-bars(ui-sref="app.habits" ui-sref-opts="{reload: true}")
    %h4 Account Settings
    %a.fa.fa-sign-out.logout(ui-sref="logout")
    .clear
  .padded-container
    .account-settings
      %alert(close="closeFlash()" ng-show="errors.length > 0" type="danger")
        %ul
          %li.error(ng-repeat="error in errors") {{error}}
      %form
        .form-group(ng-class="displayNameErrors ? 'has-error' : ''")
          %label(for="display-name") Display Name
          %input.form-control(name="display-name" ng-model="displayName" type="text")/
        %button.save.btn.btn-primary(ng-click="save()") Save
