<script type='text/x-handlebars' id='signup'>
  <h1>Sign Up</h1>
  <form {{action 'signUp' on='submit'}}>
    {{#if error_messages.length}}
      <ul class='errors'>
      {{#each error in error_messages}}
        <li class='error'>{{error}}</li>
      {{/each}}
      </ul>
    {{/if}}
    <div class="form-group">
      {{input id='identification' placeholder='Enter Login' class='form-control' value=identification}}
    </div>
    <div class="form-group">
      {{input id='password' placeholder='Enter Password' class='form-control' type='password' value=password}}
    </div>
    <button type="submit" class="btn btn-default">Sign Up</button>
  </form>
</script>

<script type='text/x-handlebars' id='habits'>
  <div class="nav-bar">
    <a {{action 'invalidateSession'}} class="fa fa-sign-out logout"></a>
    <h4> Habits </h4>
    {{#link-to 'habits.new' class='new-habit fa fa-plus'}} {{/link-to}}
    <div class="clear"> </div>
  </div>
  <ul id='habits-list'>
    {{#each}}
      {{#if title}}
        <li {{bind-attr class=":habit-listing private:private:public"}}>
          <div class='title'> {{#link-to 'habit' this}}<span class='value'>{{value}}</span><span class='habit-title'>{{title}}</span>{{/link-to}} </div>
          <div class='button-container'>
            <button {{action 'plusOne' this session.user_id}} class='plus'> + </button>
            <button {{action 'minusOne' this session.user_id}} class='minus'> - </button>
          </div>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</script>

<script type='text/x-handlebars', id="habits/_form">
  <form>
    <div class='section'>
      {{#if isEditable}}
        {{twitter-typeahead id="title"
                            placeholder="Habit Title"
                            remote="/habits?title=%QUERY"
                            customTemplate="<i>{{value}} ({{user_count}})</i>"
                            action="habitSelected"
                            valueBinding="title"}}
      {{else}}
        <span class='locked-title'>{{title}}</span>
      {{/if}}
    </div>
    <div class='section'>
      <label>Target </label>
      {{input name="target-value" valueBinding="targetValue"}}
      {{#if isEditable}}
        {{view Ember.TextField id="unit" placeholder="Unit" valueBinding="unit" cols="10"}}
      {{else}}
        <span class='locked-unit'>{{unit}}</span>
      {{/if}}
      {{view Ember.Select content=timeframeOptions value=timeframe name='target-timeframe'}}
    </div>
    <div class='section'>
      <label> Private </label>
      {{input id="private" type="checkbox" checked=private}}
    </div>
    <div class='section'>
      <button {{action 'save'}} class='save'> Save </button>
      {{#unless isEditable}}
        <button {{action 'cancel'}} class='cancel'> Cancel </button>
      {{/unless}}
</script>

<script type='text/x-handlebars', id="habits/new">
  <div class="nav-bar">
    {{#link-to 'habits' class='habits-link fa fa-bars'}} {{/link-to}}
    <h4> New Habit </h4>
  </div>
  {{partial "habits/form"}}
  </div>
  </form>
</script>

<script type='text/x-handlebars', id="habits/edit">
  <div class="nav-bar">
    {{#link-to 'habits' class='habits-link fa fa-bars'}} {{/link-to}}
    <h4> Edit Habit </h4>
  </div>
  {{partial "habits/form"}}
  {{#if shared}}
    <button {{action 'removeHabit'}} class='abandon'> Abandon {{title}} </button>
  {{else}}
    <button {{action 'removeHabit'}} class='delete'> Delete {{title}} </button>
  {{/if}}
  </div>
  </form>
</script>

<script type='text/x-handlebars' id='habit'>
  <div class='habit-details'>
    <div class="nav-bar">
      {{#link-to 'habits' class='habits-link fa fa-bars'}} {{/link-to}}
      <div class='title-lockup'>
        <h4 class='title'> {{title}} </h4>
        <br />
        <h4 class='sub-title'> {{users.length}} other users</h4>
      </div>
      <div {{action 'editHabit'}} class='edit fa fa-pencil'></div>
    </div>
    <div class='section'>
      <h2>{{percentage}}</h2>
      <p>You have completed <span class='value'>{{value}} {{unit}}</span> {{formattedTimeFrame}} </p>
      <p>Your target is <span class="target"> {{targetValue}} {{unit}} per {{timeframe}} </span></p>
    </div>

    <div class='section'>
      <h2> New Checkin </h2>
      Value: {{view Ember.TextField valueBinding="newCheckinValue" cols="30" id="new-checkin-value"}}
      Note: {{view Ember.TextField valueBinding="note" cols="50" id="note"}}
      <div class='inline-button-container'>
        <button {{action 'checkin' this 'plus' note}} class='plus'> + </button>
        <button {{action 'checkin' this 'minus' note}} class='minus'> - </button>
      </div>
    </div>
      {{#if checkins.length}}
        <div class='section'>
          {{#if private}}
            <h3>Private Checkins</h3>
          {{else}}
            <h3>Public Checkins</h3>
          {{/if}}
          {{#each checkin in App.checkinsController}}
            {{#if private}}
              <p class="checkin">({{checkin.value}}) {{checkin.note}}</p>
            {{else}}
              <p class="checkin">{{checkin.email}} ({{checkin.value}}) {{checkin.note}}</p>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
  </div>
</script>

<script type='text/x-handlebars' id='login'>
  <h1>Login</h1>
  {{! login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
  <div class='login-form'>
    <form {{action 'authenticate' on='submit'}}>
      {{#if error}}
        <p class='error'>{{error}}</p>
      {{/if}}
      <div class="form-group">
        {{input id='identification' placeholder='Enter Login' class='form-control' value=identification}}
      </div>
      <div class="form-group">
        {{input id='password' placeholder='Enter Password' class='form-control' type='password' value=password}}
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
    {{#link-to 'signup'}} Sign Up {{/link-to}}
    <br />
    {{link-to 'Forgot Password' 'forgot_password' class='forgot-password'}}
  </div>
</script>

<script type='text/x-handlebars' id='forgot_password'>
  <h1>Forgot Password</h1>
  <form class='forgot-password' {{action 'resetPassword' email on='submit'}}>
    {{#unless sentPasswordReset}}
      {{#if error}}
        <p class="error">{{error}}</p>
      {{/if}}
      {{input type="text" placeholder="Enter email" name="email" value=email}}
      <br />
      <button class="reset">Reset Password</button>
      <br />
    {{else}}
      <p class='sent'>An email was sent to <b>{{email}}</b> with instructions to reset your password.</p>
    {{/unless}}
    {{link-to 'Login' 'login'}}
    <br />
    {{link-to 'Sign Up' 'signup'}}
  </form>
</script>

<script type='text/x-handlebars' id='edit_password'>
  <h1>Change Password</h1>
  {{#unless resetPassword}}
    {{#if errors.length}}
      <ul class='errors'>
      {{#each error in errors}}
        <li class='error'>{{error}}</li>
      {{/each}}
      </ul>
    {{/if}}
    <form class='edit-password' {{action 'changePassword' on='submit'}}>
      {{input type="password" placeholder="New password" name="new-password" valueBinding=newPassword}}
      <br />
      {{input type="password" placeholder="Confirm new password" name="confirm-new-password" valueBinding=confirmNewPassword}}
      <br />
      <button class="submit">Submit</button>
    </form>
  {{else}}
    <p class='reset'>Thanks, your password has been reset. You may now login to your account.</p>
    <br />
    <a href='/#/login'>Login</a>
  {{/unless}}
</script>
