<div ui-view> </div>

<script type='text/ng-template' id='signup'>
  <h1>Sign Up</h1>
  <form ng-submit="signup()">
    <ul class='errors' ng-show="errors.length > 0">
      <li class='error' ng-repeat="error in errors">{{error}}</li>
    </ul>
    <div class="form-group">
      <input class='form-control' id='identification' placeholder='Enter Email' ng-model='user.email'> </input>
    </div>
    <div class="form-group">
      <input class='form-control' id='password' type='password' placeholder='Enter Password' ng-model='user.password'> </input>
    </div>
    <button type="submit" class="btn btn-default">Sign Up</button>
  </form>
</script>

<script type='text/ng-template' id='habits'>
  <div class="nav-bar">
    <a ui-sref='logout' class="fa fa-sign-out logout"></a>
    <h4> Habits </h4>
    <a ui-sref='app.habits.new' class='new-habit fa fa-plus'></a>
    <div class="clear"> </div>
  </div>

  <ul id='habits-list'>
    <li class='habit-listing' ng-repeat="habit in habits" ng-class="isPrivate() ? private : public"}}>
      <div class='title'>
        <a ui-sref="app.habits.show({habitId: habit.id})">
          <span class='value'>{{habit.value}}</span><span class='habit-title'>{{habit.title}}</span>
        </a>
      </div>
      <div class='button-container'>
        <button {{action 'plusOne' this session.user_id}} class='plus'> + </button>
        <button {{action 'minusOne' this session.user_id}} class='minus'> - </button>
      </div>
    </li>
  </ul>
</script>

<script type='text/ng-template', id="habits/_form">
  <form class='habit-form'>
    <div class='section'>
      <input id='title' ng-if='isEditable' ng-model='habit.title' placeholder='Title'> </input>
      <span ng-if='!isEditable' class='locked-title'>{{habit.title}}</span>
    </div>
    <div class='section'>
      <label>Target </label>
      <input name="target-value" ng-model="target.value" placeholder="value">
      <input id='unit' name="unit" placeholder='unit' ng-model="habit.unit">
      <span ng-if="!isEditable" class='locked-unit'>{{target.unit}}</span>
      <select name='target-timeframe' ng-model="target.timeframe" ng-options="timeframe for timeframe in timeFrameOptions"></select>
    </div>
    <div class='section'>
      <label> Private </label>
      <input id="private" type="checkbox" ng-model="habit.private"/>
    </div>
    <div class='section'>
      <button ng-click="save()" class='save'> Save </button>
      <button ng-if="!isEditable" class='cancel' ng-click='cancel()'> Cancel </button>
    </div>
  </form>
</script>

<script type='text/ng-template', id="habits/new">
  <div class="nav-bar">
    <a ui-sref='app.habits' ui-sref-opts="{reload: true}" class='habits-link fa fa-bars'></a>
    <h4> New Habit </h4>
  </div>
  <div ng-include="'habits/_form'"> </div>
</script>

<script type='text/ng-template', id="habits/edit">
  <div class="nav-bar">
    <a ui-sref='app.habits' ui-sref-opts="{reload: true}" class='habits-link fa fa-bars'></a>
    <h4> Edit Habit </h4>
  </div>

  <div class='habits-edit'>
    <div ng-include="'habits/_form'"> </div>
    <button ng-if='habit.user_count > 1' ng-click='deleteHabit(habit)' class='abandon'> Abandon {{habit.title}} </button>
    <button ng-if='habit.user_count == 1' ng-click='deleteHabit(habit)' class='delete'> Delete {{habit.title}} </button>
  </div>
</script>

<script type='text/ng-template' id='habit'>
  <div class='habit-details'>
    <div class="nav-bar">
      <a ui-sref='app.habits' ui-sref-opts='{reload: true}' class='habits-link fa fa-bars'></a>
      <div class='title-lockup'>
        <h4 class='title'> {{habit.title}} </h4>
        <br />
        <h4 class='sub-title'> {{habit.user_count - 1}} other users</h4>
      </div>
      <a ui-sref="app.habits.edit({habitId: habit.id})" class='edit fa fa-pencil'></a>
    </div>
    <div class='section'>
      <h2>{{habit.percentage}}%</h2>
      <p>You have completed <span class='value'>{{habit.value}} {{habit.unit}}</span> {{habit.target.formattedTimeFrame}} </p>
      <p>Your target is <span class="target"> {{habit.target.value}} {{habit.unit}} per {{habit.target.timeframe}} </span></p>
    </div>

    <div class='section'>
      <h2> New Checkin </h2>
      Value: <input ng-model="newCheckin.value" id="new-checkin-value"></input>
      Note: <input ng-model="newCheckin.note" id="note"></input>
      <div class='inline-button-container'>
        <button ng-click="checkin('plus')" class='plus'> + </button>
        <button ng-click="checkin('minus')"  class='minus'> - </button>
      </div>
    </div>
    <div class='section' ng-if="habit.checkins.length">
      <h3>Activity</h3>
      <p class="checkin" ng-repeat="checkin in habit.checkins"><span ng-if="habit.private">{{checkin.email}}</span>({{checkin.value}}) {{checkin.note}}</p>
    </div>
  </div>
</script>

<script type='text/ng-template' id='login'>
  <h1>Login</h1>
  <form ng-submit='login()'>
    <p class='error' ng-if='error'>{{error}}</p>
    <div class="form-group">
      <input class='form-control' id='identification' placeholder='Enter Email' ng-model='user.email'> </input>
    </div>
    <div class="form-group">
      <input class='form-control' id='password' type='password' placeholder='Enter Password' ng-model='user.password'> </input>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
  <a ui-sref="signup"> Sign Up </a>
</script>
