<div ui-view> </div>

<script type='text/ng-template' id='habits'>
  <div class="nav-bar">
    <a ui-sref='settings' class="fa fa-cog settings"></a>
    <h4> Habits </h4>
    <a ui-sref='app.habits.new' class='new-habit fa fa-plus'></a>
    <div class="clear"> </div>
  </div>

  <ul id='habits-list'>
    <li class='habit-listing' ng-repeat="habit in habits" ng-class="habit.private ? 'private' : 'public'">
      <div class='title'>
        <a ui-sref="app.habits.show({habitId: habit.id})">
          <span class='value'>{{habit.value}}</span><span class='habit-title'>{{habit.title}}</span>
        </a>
      </div>
      <div class='button-container'>
        <button ng-click="checkin(habit.id, 1)" class='btn btn-success btn-link plus fa fa-plus'> </button>
      </div>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="typeahead">
  <span class='dropdown-item'>{{match.model.title}} ({{match.model.user_count}})</span>
</script>

<script type='text/ng-template', id="habits/_form">
  <form class='habit-form'>
    <div class='section'>
      <input ng-if='isEditable'
             type="text"
             name="title"
             ng-model="habit.title"
             placeholder="habit title"
             typeahead="suggestion as suggestion.title for suggestion in suggestions($viewValue)"
             typeahead-on-select="onSelect($item, $model, $label)"
             typeahead-template-url="typeahead"
             class="form-control">
      </input>
      <span ng-if='!isEditable' class='locked-title'>{{habit.title}}</span>
    </div>
    <div class='section'>
      <label>Target </label>
      <input name="target-value" ng-model="target.value" placeholder="value" class="form-control">
      <input ng-if="isEditable" id='unit' name="unit" placeholder='unit' ng-model="habit.unit" class="form-control">
      <span ng-if="!isEditable" class='locked-unit'>{{habit.unit}}</span>
      <select name='target-timeframe' ng-model="target.timeframe" ng-options="timeframe for timeframe in timeFrameOptions"></select>
    </div>
    <div class='section'>
      <label> Private </label>
      <input id="private" type="checkbox" ng-model="habit.private"/>
    </div>
    <div class='section'>
      <button ng-click="save()" class='save btn btn-primary'> Save </button>
      <button ng-if="!isEditable" class='cancel btn btn-link' ng-click='cancel()'> Cancel </button>
    </div>
  </form>
</script>

<script type='text/ng-template', id="habits/new">
  <div class="nav-bar">
    <a ng-if="hasHabits" ui-sref='app.habits' ui-sref-opts="{reload: true}" class='habits-link fa fa-bars'></a>
    <a ng-if="!hasHabits" ui-sref='settings' class="fa fa-cog settings"></a>
    <h4> New Habit </h4>
  </div>
  <div static-include='habits/_form'> </div>
</script>

<script type='text/ng-template', id="habits/edit">
  <div class="nav-bar">
    <a ui-sref='app.habits' ui-sref-opts="{reload: true}" class='habits-link fa fa-bars'></a>
    <h4> Edit Habit </h4>
  </div>

  <div class='habits-edit'>

    <div static-include='habits/_form'> </div>
    <div class='padded-container'>

      <button ng-if='habit.user_count > 1' ng-click='deleteHabit(habit)' class='abandon btn btn-danger'> Abandon {{habit.title}} </button>
      <button ng-if='habit.user_count == 1' ng-click='deleteHabit(habit)' class='delete btn btn-danger'> Delete {{habit.title}} </button>
    </div>
  </div>
</script>

<script type='text/ng-template' id='habit'>
  <div class='habit-details'>
    <div class="nav-bar">
      <a ui-sref='app.habits' ui-sref-opts='{reload: true}' class='habits-link fa fa-bars'></a>
      <div class='title-lockup'>
        <h4 class='title'> {{habit.title}} </h4>
        <br />
        <h4 class='sub-title'> {{habit.user_count - 1}} other users</h4>
      </div>
      <a ui-sref="app.habits.edit({habitId: habit.id})" class='edit fa fa-pencil'></a>
    </div>
    <alert ng-show="error.length > 0" type="danger" close="closeFlash()">{{error}}</alert>
    <div class='section text-center'>
      <h1 class='habit-percentage text-primary'>{{habit.percentage}}<small class='text-primary'>%</small></h1>
      <p>You
        <span ng-if='habit.past_tense'>{{habit.past_tense}}</span>
        <span ng-if='!habit.past_tense'>have completed</span>
        <span class='value'>{{habit.value}} {{habit.unit}}</span> {{habit.target.formattedTimeFrame}} </p>
      <p>Your target is <span class="target"> {{habit.target.value}} {{habit.unit}} per {{habit.target.timeframe}} </span></p>
    </div>

    <div class='section'>
      <form>
        <div class='form-group' ng-class="error.length > 0 ? 'has-error' : ''">
          <label>Value</label>
          <input ng-model="newCheckin.value" id="new-checkin-value" class='form-control'></input>
        </div>
        <div class='form-group'>
          <label>Note</label>
          <input ng-model="newCheckin.note" id="note" class='form-control'></input>
        </div>
        <button ng-click="checkin('plus')" class='btn btn-success form-control section plus'> Log </button>
      </form>
    </div>
    <div class='section' ng-if="habit.checkins.length">
      <h3>Activity</h3>
      <ul class='list-group'>
        <li class="list-group-item checkin" ng-repeat="checkin in habit.checkins">
          <span ng-if="!habit.private">{{checkin.display_name}}</span>
          <span class='badge'>{{checkin.value}}</span>
          {{checkin.note}}
        </li>
      </ul>
    </div>
  </div>
</script>

<script type='text/ng-template' id='signup'>
  <div class='padded-container'>
    <div class='signup-form'>
      <alert ng-show="errors.length > 0" type="danger" close="closeFlash()">
        <ul>
          <li class="error" ng-repeat="error in errors">{{error}}</li>
        </ul>
      </alert>
      <h1>Sign Up</h1>
      <form ng-submit="signup()">
        <div class="form-group" ng-class="displayNameError ? 'has-error' : ''">
          <input class='form-control' id='display-name' placeholder='Enter Display Name' ng-model='user.displayName'> </input>
        </div>
        <div class="form-group" ng-class="emailError ? 'has-error' : ''">
          <input class='form-control' id='identification' placeholder='Enter Email' ng-model='user.email'> </input>
        </div>
        <div class="form-group" ng-class="passwordError ? 'has-error' : ''">
          <input class='form-control' id='password' type='password' placeholder='Enter Password' ng-model='user.password'> </input>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a ui-sref="login"> Login </a>
      </form>
    </div>
  </div>
</script>


<script type='text/ng-template' id='login'>
  <div class='padded-container'>
    <div class='login-form'>
      <alert ng-show="error.length > 0" type="danger" close="closeFlash()">{{error}}</alert>
      <h1>Login</h1>
      <form ng-submit='login()'>
        <div class="form-group" ng-class="error.length > 0 ? 'has-error' : ''">
          <input class='form-control' id='identification' placeholder='Enter Email' ng-model='user.email'> </input>
        </div>
        <div class="form-group" ng-class="error.length > 0 ? 'has-error' : ''">
          <input class='form-control' id='password' type='password' placeholder='Enter Password' ng-model='user.password'> </input>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a ui-sref="signup"> Sign Up </a>
        <a ui-sref="forgot-password" class='forgot-password'>Forgot Password</a>
      </form>
    </div>
  </div>
</script>

<script type='text/ng-template' id='forgot-password'>
  <h1>Forgot Password</h1>
  <form class='forgot-password'>
    <div ng-show="!sentPasswordReset">
      <p ng-show="error.length > 0" class="error">{{error}}</p>
      <input type="text" placeholder="Enter email" name="email" ng-model="email"></input>
      <br />
      <button ng-click="resetPassword()" class="reset">Reset Password</button>
    </div>
    <p ng-if="sentPasswordReset" class='sent'>An email was sent to <b>{{email}}</b> with instructions to reset your password.</p>
    <a ui-sref="login"> Login </a>
    <br />
    <a ui-sref="signup"> Sign Up </a>
  </form>
</script>

<script type='text/ng-template' id='edit-password'>
  <h1>Change Password</h1>
  <div ng-show="!formSubmitted">
    <ul ng-show="errors.length > 0" class='errors'>
      <li ng-repeat="error in errors" class='error'>{{error}}</li>
    </ul>
    <form class='edit-password'>
      <input type="password" placeholder="New password" name="password" ng-model="password"></input>
      <br />
      <input type="password" placeholder="Confirm new password" name="password-confirmation" ng-model="passwordConfirmation"></input>
      <br />
      <button ng-click="editPassword()" class="submit">Submit</button>
    </form>
  </div>
  <div ng-show="formSubmitted">
    <p class='reset'>Thanks, your password has been reset. You may now login to your account.</p>
    <br />
    <a ui-sref="login"> Login </a>
  </div>
</script>

<script type='text/ng-template' id='account-settings'>
  <div class="nav-bar">
    <a ui-sref='app.habits' ui-sref-opts="{reload: true}" class='habits-link fa fa-bars'></a>
    <h4> Account Settings </h4>
    <a ui-sref='logout' class="fa fa-sign-out logout"></a>
    <div class="clear"> </div>
  </div>
  <div class='padded-container'>
    <div class='account-settings'>
      <alert ng-show="errors.length > 0" type="danger" close="closeFlash()">
        <ul>
          <li class="error" ng-repeat="error in errors">{{error}}</li>
        </ul>
      </alert>
      <form>
        <div class='form-group' ng-class="displayNameErrors ? 'has-error' : ''">
          <label for='display-name'>Display Name</label>
          <input name='display-name' type='text' ng-model="displayName" class='form-control'></input>
        </div>
        <button ng-click="save()" class='save btn btn-primary'> Save </button>
      </form>
    </div>
  </div>
</script>
