<script type='text/x-handlebars' id='signup'>
  <h1>Sign Up</h1>
  <form {{action 'signUp' on='submit'}}>
    <div class="form-group">
      {{input id='identification' placeholder='Enter Login' class='form-control' value=identification}}
    </div>
    <div class="form-group">
      {{input id='password' placeholder='Enter Password' class='form-control' type='password' value=password}}
    </div>
    <button type="submit" class="btn btn-default">Sign Up</button>
  </form>
</script>

<script type='text/x-handlebars' id='habits'>
  <div class="nav-bar">
    <h4> Habits </h4>
    <a {{action 'invalidateSession'}} class="logout"> Logout </a>
  </div>
  <ul id='habits-list'>
    {{#each}}
      {{#if title}}
        <li {{bind-attr class=":habit-listing private:private:public"}}>
          <div class='title'> {{#link-to 'habit' this}}<span class='value'>{{myCheckinValue}}</span><span class='habit-title'>{{title}}</span>{{/link-to}} </div>
          <div class='button-container'>
            <button {{action 'plusOne' this session.user_id}} class='plus'> + </button>
            <button {{action 'minusOne' this session.user_id}} class='minus'> - </button>
          </div>
        </li>
      {{/if}}
    {{/each}}
  </ul>
  {{#link-to 'habits.new' class='new-habit'}} New Habit {{/link-to}}
</script>

<script type='text/x-handlebars', id="habits/_form">
  <form>
    {{#if isEditable}}
      {{twitter-typeahead id="title"
                          placeholder="Habit Title"
                          remote="/habits?title=%QUERY"
                          customTemplate="<i>{{value}} ({{user_count}})</i>"
                          action="habitSelected"
                          valueBinding="title"}}
      {{view Ember.TextField id="unit" placeholder="Unit" valueBinding="unit" cols="30"}}
    {{else}}
      {{title}}
      {{unit}}
    {{/if}}
    <label> Private </label>
    {{input id="private" type="checkbox" checked=private}}
    <button {{action 'save'}} class='save'> Save </button>
    {{#unless isEditable}}
      <button {{action 'cancel'}} class='cancel'> Cancel </button>
    {{/unless}}
  </form>
</script>

<script type='text/x-handlebars', id="habits/new">
  <div class="nav-bar">
    <h4> New Habit </h4>
    <a {{action 'invalidateSession'}} class="logout"> Logout </a>
  </div>
  {{partial "habits/form"}}
</script>

<script type='text/x-handlebars', id="habits/edit">
  <div class="nav-bar">
    <h4> Edit Habit </h4>
    <a {{action 'invalidateSession'}} class="logout"> Logout </a>
  </div>
  {{partial "habits/form"}}
</script>

<script type='text/x-handlebars' id='habit'>
  <div class='habit-details'>
    <div class="nav-bar">
      <h4 class='title'> {{title}} </h4>
      <a {{action 'invalidateSession'}} class="logout"> Logout </a>
    </div>
    <h2 class='value'> {{value}} {{unit}} </h2>
    {{view Ember.TextField valueBinding="newCheckinValue" cols="30" id="new-checkin-value"}}
    <div class='inline-button-container'>
      <button {{action 'checkin' this 'plus'}} class='plus'> + </button>
      <button {{action 'checkin' this 'minus'}} class='minus'> - </button>
    </div>
    Users: {{users.length}}
    <br />
    <button {{action 'editHabit'}} class='edit'> Edit {{title}} </button>
    <button {{action 'removeHabit'}} class='delete'> Delete {{title}} </button>
    <br />
    {{#if checkins.length}}
      {{#if private}}
        <h3>Private Checkins</h3>
      {{else}}
        <h3>Public Checkins</h3>
      {{/if}}
      {{#each checkin in App.checkinsController}}
        {{#if private}}
          <p>({{checkin.value}})</p>
        {{else}}
          <p>{{checkin.email}} ({{checkin.value}})</p>
        {{/if}}
      {{/each}}
    {{/if}}
  </div>
</script>

<script type='text/x-handlebars' id='login'>
  <h1>Login</h1>
  {{! login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
  <form {{action 'authenticate' on='submit'}}>
    <div class="form-group">
      {{input id='identification' placeholder='Enter Login' class='form-control' value=identification}}
    </div>
    <div class="form-group">
      {{input id='password' placeholder='Enter Password' class='form-control' type='password' value=password}}
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
  {{#link-to 'signup'}} Sign Up {{/link-to}}
</script>
