//= require font-awesome
@import url(http://fonts.googleapis.com/css?family=Raleway:600);

$greyblue: #34444f;
$red: #CE6861;
$green: #60AB89;

.page-ui-view {
  margin: 0 auto;
  float: none;
  @media screen and (max-width: 480px) {
    padding:0;
    width: 93%;
  }
}

a, a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.padded-container {
  padding: 0 5%;
}

.button-container {
  position: absolute;
  top: 0;
  right: 5%;
  .plus {
    margin-right: -15px;
    margin-top: -6px;
  }
}

.section {
  margin: 12px 0;
  padding: 0 5%;
}

.nav-bar {
  height: 50px;
  line-height: 100%;
  text-align: center;
  padding: 0 5%;
  border-bottom: 1px solid lightgrey;
  * {
    line-height: 50px;
  }
  a {
    padding: 0 15px;
  }
  .settings, .habits-link {
    float: left;
    margin-left: -15px;
  }
  .new-habit, .edit, .logout {
    float: right;
    margin-right: -15px;
  }
  h4 {
    display: inline-block;
    margin: 0 auto;
  }
  .title-lockup {
    display: inline-block;
    line-height: 13px;;
  }
  .title {
    margin-top: 8px;
  }
  .title, .sub-title {
    line-height: 19px;
    display: block;
  }
  .sub-title {
    font-size: 8px
  }
}

.section {
  margin: 12px 0;
  padding: 0 5%;
}

.profile-image {
  border-radius: 4px;
  margin: 15px auto;
  display: block;
  max-width: 200px;
}
