<!DOCTYPE html>
<html>
<head>
  <title>Habitapp</title>
  <meta name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
</head>
<body ng-app="habit">

<%= yield %>
<%= stylesheet_link_tag    "application", media: "all"%>
<%= javascript_include_tag "application" %>

</body>
</html>
